# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.history/src/components/pages/Home/Home_20221129155140.css
/.history/src/components/pages/Home/Home_20221129170108.jsx
/.history/src/components/pages/Home/Home_20221203201023.jsx
/.history/src/components/pages/Home/Home_20221203201052.jsx
/.history/src/components/pages/Home/Home_20221205120952.css
/.history/src/components/pages/Home/Home_20221205120952.jsx
/.history/src/components/pages/Home/Home_20221205121000.jsx
/.history/src/components/pages/Home/Home_20221205121025.jsx
/.history/src/components/pages/Home/Home_20221205121033.jsx
/.history/src/components/pages/Home/Home_20221205121043.jsx
/.history/src/components/pages/Home/Home_20221205121110.jsx
/.history/src/components/pages/Home/Home_20221205122228.jsx
/.history/src/components/pages/Home/Home_20221205122253.jsx
/.history/src/components/pages/Home/Home_20221205122331.css
/.history/src/components/pages/Home/Home_20221206163711.jsx
/.history/src/components/pages/Home/Home_20221206163758.jsx
/.history/src/components/pages/Home/Home_20221206164523.jsx
/.history/src/components/pages/Home/Home_20221206164707.jsx
/.history/src/components/pages/Home/Home_20221206164725.jsx
/.history/src/components/pages/Home/Home_20221206164747.jsx
/.history/src/components/pages/Home/Home_20221206164805.jsx
/.history/src/components/pages/Home/Home_20221206164811.jsx
/.history/src/components/pages/Home/Home_20221206164812.jsx
/.history/src/components/pages/Home/Home_20221206164837.jsx
/.history/src/components/pages/Home/Home_20221206164908.jsx
/.history/src/components/pages/Home/Home_20221206164911.jsx
/.history/src/components/pages/Home/Home_20221206165012.jsx
/.history/src/components/pages/Home/Home_20221206165032.jsx
/.history/src/components/pages/Home/Home_20221206165045.jsx
/.history/src/components/pages/Home/Home_20221206165209.jsx
/.history/src/components/pages/Home/Home_20221206165806.jsx
/.history/src/components/pages/Home/Home_20221206165814.jsx
/.history/src/components/pages/Home/Home_20221206165841.jsx
/.history/src/components/pages/Home/Home_20221206165845.jsx
/.history/src/components/pages/Home/Home_20221206170053.jsx
/.history/src/components/pages/Home/Home_20221206170103.jsx
/.history/src/components/pages/Home/Home_20221206170137.jsx
/.history/src/components/pages/Home/Home_20221206170202.css
/.history/src/components/pages/Home/Home_20221206170530.css
/.history/src/components/pages/Home/Home_20221206170612.css
/.history/src/components/pages/Home/Home_20221206170634.css
/.history/src/components/pages/Home/Home_20221206170655.jsx
/.history/src/components/pages/Home/Home_20221206170712.css
/.history/src/components/pages/Home/Home_20221206170713.css
/.history/src/components/pages/Home/Home_20221206171120.jsx
/.history/src/components/pages/Home/Home_20221206171128.jsx
/.history/src/components/pages/Home/Home_20221206171139.jsx
/.history/src/components/pages/Home/Home_20221206171150.jsx
/.history/src/components/pages/Home/Home_20221206171251.jsx
/.history/src/components/pages/Home/Home_20221206171301.jsx
/.history/src/components/pages/Home/Home_20221206171358.jsx
/.history/src/components/pages/Home/Home_20221206171417.css
/.history/src/components/pages/Home/Home_20221206171539.jsx
/.history/src/components/pages/Home/Home_20221206171605.css
/.history/src/components/pages/Home/Home_20221206171645.jsx
/.history/src/components/pages/Home/Home_20221206171653.css
/.history/src/components/pages/Home/Home_20221206171706.jsx
/.history/src/components/pages/Home/Home_20221206171715.jsx
/.history/src/components/pages/Home/Home_20221206171718.jsx
/.history/src/components/pages/Home/Home_20221206171726.css
/.history/src/config/strings/homepage_20221129165618.js
/.history/src/config/strings/homepage_20221203201007.js
/.history/src/config/strings/homepage_20221203201059.js
/.history/src/config/strings/homepage_20221205120046.js
/.history/src/index_20221129142602.css
/.history/src/index_20221205122308.css
/.history/src/index_20221205122315.css
/.history/src/index_20221205122350.css
