.languageHeader{
  background-color: #2b2828;
  height: 20px;
}

.languageHeader btn{
  scale: 10%;
}

.header {
  background-color: #231f20;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-left-side{
  display: flex;
  align-items: center;
}

.search-icon{
  color: white;
  height: 50px;
}

.hamburger-menu-icon {
  color: white;
}

.logoImage {
  width: 200px;
}

.content {
}

.footer {
}
