$small: 320px;
$medium: 600px;
$large: 830px;
$extralarge: 1024px;

// TODO: Export all this variables to MUI theme.js file
// Website colors
$primary-color: #182C2C;
$secondary-color: #F0C2BD;
$primary-color-lighter: #304B4B;
$secondary-color-darker:#CA6C68;
$white-color: #DFDADE;

// TODO: Add a white and a dark color variables

audio::-webkit-media-controls-panel {
  background-color: $secondary-color;
}

audio::-webkit-media-controls-play-button {
  border-radius: 50%;
  background-color: $secondary-color-darker;
}

// On big devices
@media screen and (min-width: $extralarge ) {
  .audioPlayer-small {
    display: none;
  }
}

// On small devices
@media screen and (max-width: $extralarge ) {
  .audioPlayer-big {
    display: none;
  }
}